@model EmployeeMenagment.ViewModels.HomeDetailsViewModel
@{
    Layout="~/Views/Shared/Layout.cshtml";
    ViewBag.Title="Home Details";
}
<body>
    <h1 > @Model.PageTitle</h1>
    
    <div>
        Name: @Model.Employee.Name
    </div>
    <div>
        Email: @Model.Employee.Email
    </div>
    <div>
        Department: @Model.Employee.Department
    </div>
</body>
</html>